/* Dropdown radio options */
.ant-dropdown .ant-dropdown-menu .dropdown-option-radio {
  height: 50px;
}

/* Dropdown multi select options */
.ant-dropdown .ant-dropdown-menu .dropdown-option-multi {
  height: 30px;
  vertical-align: middle;
}

/* Hover: dropdown options */
.dropdown-option-radio:hover,
.dropdown-option-multi:hover {
  background-color: #f5f5f5;
}
